.App {
  text-align: center;
}


.nav{
  background: rgba(117, 84, 252, 0.49);

}
.navLink{
  font-family: sans-serif;
  font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
}

.title{
  width: 18%;
max-height: 100px;
min-height: 50px;
}
.logo{
  width: 20%;
height: 200px;

  
}
.para{
  font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 35px;
}
